<p>Generating Bill for:</p>
<table style="margin-left: auto; margin-right: auto;">
  <% Ticket.find(params[:ticket_ids]).each do |ticket| %>
  <tr>
    <td><%= ticket.dob %></td>
    <td><%= ticket.doj %></td>
    <td><%= ticket.passenger_name %></td>
    <td><%= ticket.from %></td>
    <td><%= ticket.to %></td>
    <td><%= ticket.travel_class %></td>
    <td><%= ticket.ticket_amount %></td>
    <td><%= ticket.agent_charge %></td>
    <td><%= ticket.cgst %></td>
    <td><%= ticket.sgst %></td>
    <td><%= ticket.company.formatted_name %></td>
  </tr>
  <% end %>
</table>
<p>Please check your inbox attachment for the bill.</p>
